{% extends 'layout/stis.html' %}

{% block content %}


          <ul class="sidebar-menu">
            <li class="menu-header">Dashboard</li>
            <li><a class="nav-link" href="{% url 'dashboard_admin'%}"><i class="fas fa-fire"></i><span>Dashboard</span></a></li>

            <li class="menu-header">Pengaduan</li>
            <li class="dropdown active">
              <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>Data
                  Pengaduan</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'pengaduan_admin'%}">pengaduan masyarakat</a></li>
                <li class="active"><a class="nav-link" href="{% url 'kategori_admin'%}">kategori pengaduan</a></li>
                <li><a class="nav-link" href="{% url 'konfirmasi_admin'%}">pengaduan terkonfirmasi</a></li>
              </ul>
            </li>

            <li class="menu-header">Berita</li>
            <li><a href="{% url 'berita_admin'%}" class="nav-link"><i class="fas fa-th-large"></i> <span>Data Berita</span></a></li>
          </ul>

        </aside>
      </div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Data kategori coba</h1>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> Tambah Kategori</button>
          </div>

          <div class="section-body">
            <div class="row">
             <div class="col-12">
               <div class="card">
                 <div class="card-header">
                   <h4>pengaduan</h4>
                   
                 </div>                  
                 <div class="card-body p-0">
                   <div class="table-responsive">
                     <table class="table table-striped">
                       <tr>
                         <th>
                           no
                         </th>
                         <th>Nama</th>
                         <th>sifat</th>
                         <th>jenis</th>                         
                         <th>Action</th>
                       </tr>
                       {% for row in posts %}
                       <tr>
                         <td>
                           {{forloop.counter}}
                         </td>
                         <td>{{row.nama}}</td>
                         <td class="align-middle">
                           {{row.sifat}}
                         </td>
                         
                         <td>{{row.jenis}}</td>
                        
                         <td>
                          <a href="{% url 'edit_kategori' row.id %}" class="btn btn-warning">edit</a>                          
                          <a href="{% url 'hapuskategori' row.id %}" class="btn btn-danger" title="hapus">Hapus</a>
                        </td>
                       </tr> 
                       {% endfor %}                      
                     </table>
                    
                   </div>
                 </div>
                 
               </div>
             </div>
           </div>
         </div>
        </section>
        <div class="modal fade" tabindex="-1" role="dialog" id="exampleModal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Tambah Kategori</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label class="col-form-label" for="nama">Nama</label>
                    <input type="text" class="form-control" id="nama" name="nama">
                  </div>
                  <div class="mb-3">
                    <label class="col-form-label" for="sifat">Sifat</label>
                    <input type="text" class="form-control" id="sifat" name="sifat">
                  </div>
                  <div class="mb-3">
                    <label class="col-form-label" for="jenis">jenis</label>
                    <input type="text" class="form-control" id="jenis" name="jenis">
                  </div>
                </div>
                <div class="modal-footer bg-whitesmoke br">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">kembali</button>
                  <button type="submit" class="btn btn-primary">simpan</button>
                </div>
                </form>
              
            </div>
          </div>
        </div>       
        
      </div>
     
  {% endblock content %}
