{% extends 'layout/stis.html' %}

{% block content %}


          <ul class="sidebar-menu">
            <li class="menu-header">Dashboard</li>
            <li><a class="nav-link" href="{% url 'dashboard_admin'%}"><i class="fas fa-fire"></i><span>Dashboard</span></a></li>

            <li class="menu-header">Pengaduan</li>
            <li class="dropdown active">
              <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>Data
                  Pengaduan</span></a>
              <ul class="dropdown-menu">
                <li class="active"><a class="nav-link" href="{% url 'pengaduan_admin'%}">pengaduan masyarakat</a></li>
                <li><a class="nav-link" href="{% url 'kategori_admin'%}">kategori pengaduan</a></li>
                <li><a class="nav-link" href="{% url 'konfirmasi_admin'%}">pengaduan terkonfirmasi</a></li>
                <li><a class="nav-link" href="{% url 'tolak'%}">pengaduan tertolak</a></li>
              </ul>
            </li>

            <li class="menu-header">Berita</li>
            <li><a href="{% url 'berita_admin'%}" class="nav-link"><i class="fas fa-th-large"></i> <span>Data Berita</span></a></li>
          </ul>

        </aside>
      </div>
      
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Data pengaduan</h1>
          </div>
          <div class="section-body">
             <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>pengaduan</h4>
                    
                  </div>                  
                  <div class="card-body p-0">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <tr>
                          <th>
                            no
                          </th>
                          <th>Nama</th>
                          <th>Keterangan</th>
                          <th>Foto</th>
                          <th>Tanggal</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                   
                        {% for row in posts %} 
                          
                          {% if row.status == 'proses' %}  
                            
                        <tr>
                          <td>
                            {{forloop.counter}}
                          </td>
                          <td>{{row.nama}}</td>
                          <td class="align-middle">
                            {{row.keterangan}}
                          </td>
                          <td>
                            <img alt="" src="{{row.foto.url}}" class="rounded-circle" width="35" data-toggle="tooltip" title="{{row.judul}}">
                          </td>
                          <td>{{row.tanggal}}</td>
                          <td><div class="badge badge-warning">{{row.status}}</div></td>
                          <td><a href="{%url 'detail_pengaduan' row.id %}" class="btn btn-primary">Detail</a></td>
                        </tr>
                        {% endif %}
                        
                      {% endfor %}
                      
                      </table>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>      

  {% endblock content %}
