{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Daftar &mdash; SIMPEGAL</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'dist/assets/modules/bootstrap/css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'dist/assets/modules/fontawesome/css/all.min.css'%}">

  <!-- CSS Libraries -->
  <link rel="stylesheet" href="{% static 'dist/assets/modules/bootstrap-social/bootstrap-social.css'%}">

  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'dist/assets/css/style.css'%}">
  <link rel="stylesheet" href="{% static 'dist/assets/css/components.css'%}">
<!-- Start GA -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-94034622-3');
</script>
<!-- /END GA --></head>

<body>
  <div id="app">
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
            

            <div class="card card-primary">
              <div class="card-header"><h4>Daftar SIMPEGAL</h4></div>

              <div class="card-body">
                <form method="POST">
                  {% csrf_token %}                  
                    <div class="form-group">
                      <label for="username">username</label>
                      <input id="username" type="text" class="form-control" name="username" autofocus>
                    </div>                    
                 
                  
                    <div class="form-group">
                      <label for="nama">Nama</label>
                      <input id="nama" type="text" class="form-control" name="nama" autofocus>
                    </div>  

                    <!-- <div class="form-group">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">laki-laki</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">perempuan</label>
                      </div>
                    </div> -->
                    <!-- <div class="form-group">
                      <label>Tanggal lahir</label>
                      <input type="date" class="form-control">
                    </div> -->

                  <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" type="email" class="form-control" name="email">
                    <div class="invalid-feedback">
                    </div>
                  </div>

                    <div class="form-group">
                      <label for="password" class="d-block">Password</label>
                      <input id="password" type="password" class="form-control pwstrength" data-indicator="pwindicator" name="password">
                      <div id="pwindicator" class="pwindicator">
                        <div class="bar"></div>
                        <div class="label"></div>
                      </div>
                    </div> 
                    <div class="form-group">                      
                        <label for="foto_profil">Foto Profil</label>
                        <input class="form-control" type="file" id="foto_profil" name="foto_profil">                      
                    </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" value="Register">
                      Daftar
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="mt-5 text-muted text-center">
              Sudah memiliki akun <a href="{% url 'login'%}">LOGIN</a>
            </div>
            <div class="simple-footer">
              Copyright &copy; SIMPEGAL
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

 <!-- General JS Scripts -->
 <script src="{% static 'dist/assets/modules/jquery.min.js'%}"></script>
 <script src="{% static 'dist/assets/modules/popper.js'%}"></script>
 <script src="{% static 'dist/assets/modules/tooltip.js'%}"></script>
 <script src="{% static 'dist/assets/modules/bootstrap/js/bootstrap.min.js'%}"></script>
 <script src="{% static 'dist/assets/modules/nicescroll/jquery.nicescroll.min.js'%}"></script>
 <script src="{% static 'dist/assets/modules/moment.min.js'%}"></script>
 <script src="{% static 'dist/assets/js/stisla.js'%}"></script>
 
 <!-- JS Libraies -->
 <script src="{% static 'dist/assets/modules/jquery-pwstrength/jquery.pwstrength.min.js'%}"></script>
 <script src="{% static 'dist/assets/modules/jquery-selectric/jquery.selectric.min.js'%}"></script>

 <!-- Page Specific JS File -->
 <script src="{% static 'dist/assets/js/page/auth-register.js'%}"></script>
 
 <!-- Template JS File -->
 <script src="{% static 'dist/assets/js/scripts.js'%}"></script>
 <script src="{% static 'dist/assets/js/custom.js'%}"></script>
  
  
  
</body>
</html>