{% extends 'layout/basemas.html' %}
{% block content %}

<section class="team section-padding" id="ajukan">
    <div class="container">
        <div class="row mb-5">
           <div class="col-12 text-center">
            <h2>Layanan Pengaduan Gangguan Lalu lintas</h2>
            <p>SIMPEGAL  Kota Bengkulu</p>
           </div>
        </div>
        <div class="card" id="ajuan">
            <div class="card-header">
                sampaikan pengaduan anda
            </div>
            <div class="card-body">                
                <form>
                    <div class="mb-3">
                      <label for="" class="form-label">Nama pengaduan</label>
                      <input type="text" class="form-control" id="" >
                    </div>
                    <div class="mb-3">
                      <label for="" class="form-label">Jalan</label>
                      <input type="text" class="form-control" id="" >
                    </div>
                    <div class="mb-3">
                      <label for="" class="form-label">Kecamatan</label>
                        <select class="form-select" aria-label="Kecamatan">                
                        <option value="Muara Bangka Hulu">	Muara Bangka Hulu</option>
                        <option value="Gading Cempaka">Gading Cempaka</option>
                        <option value="Kampung Melayu">Kampung Melayu</option>
                        <option value="Ratu Agung">Ratu Agung</option>
                        <option value="Ratu Samban">Ratu Samban</option>
                        <option value="Selebar">Selebar</option>
                        <option value="Singaran Pati">Singaran Pati</option>
                        <option value="Sungai Serut">Sungai Serut</option>
                        <option value="Teluk Segara">Teluk Segara</option>
                      </select>
                    </div>
                    <div class="mb-3">
                      <label for="" class="form-label">keterangan</label>
                      <input type="text" class="form-control" id="" >
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">ketegori</label>
                        <select class="form-select" aria-label="Kategori">
                          {% for kat in kategori %}
                        <option value="{{kat.nama}}">{{kat.nama}}</option>                        
                        {% endfor %} 
                      </select>
                    </div>
                    <div class="mb-3">
                      <label for="formFile" class="form-label">Lampiran Foto</label>
                      <input class="form-control" type="file" id="formFile">
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">pengadu</label>
                    <input class="form-control" id="disabledInput" type="text" placeholder="{{user}}" disabled>
                </div>               
                    <button type="submit" class="btn btn-primary">Kirim</button>
                  </form>
            </div>
            <div class="card-footer text-muted">
              
            </div>
          </div>
</section>

{% endblock content %}