{% extends 'layout/basemas.html' %}
{% block content %}

<section class="team section-padding" id="ajukan">
    <div class="container">
        <div class="row mb-5">
           <div class="col-12 text-center">
            <h2>Layanan Pengaduan Gangguan Lalu lintas</h2>
            <p>SIMPEGAL  Kota Bengkulu</p>
           </div>
        </div>
        <div class="card" id="ajuan">
            <div class="card-header">
                sampaikan pengaduan anda
            </div>
            <div class="card-body">                
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                    <div class="form-group mb-3">
                      <label for="nama" class="form-label">Nama pengaduan</label>
                      <input type="text" class="form-control" id="nama" name="nama" >
                    </div>
                    <div class="form-group mb-3">
                      <label for="jalan" class="form-label">Jalan</label>
                      <input type="text" class="form-control" id="jalan" name="jalan" >
                    </div>
                    <div class="form-group mb-3">
                      <label for="kecamatan" class="form-label">kecamatan</label>
                        <select name="kecamatan" id="kecamatan" class="form-select" aria-label="kecamatan">                
                        <option value="Muara Bangka Hulu">Muara Bangka Hulu</option>
                        <option value="Gading Cempaka">Gading Cempaka</option>
                        <option value="Kampung Melayu">Kampung Melayu</option>
                        <option value="Ratu Agung">Ratu Agung</option>
                        <option value="Ratu Samban">Ratu Samban</option>
                        <option value="Selebar">Selebar</option>
                        <option value="Singaran Pati">Singaran Pati</option>
                        <option value="Sungai Serut">Sungai Serut</option>
                        <option value="Teluk Segara">Teluk Segara</option>
                      </select>
                    </div>
                    <div class="form-group mb-3">
                      <label for="keterangan" class="form-label">keterangan</label>
                      <input type="text" class="form-control" id="keterangan" name="keterangan" >
                    </div>
                    <div class="form-group mb-3">
                      <label for="status" class="form-label">status</label>
                      <input type="text" class="form-control" id="status" name="status" >
                    </div>
                    <div class="form-group mb-3">    
                        <label for="{{ post_aduan.kategori_id.id_for_label }}" class="form-label">ketegori</label>
                        {{ post_aduan.kategori_id }}
                        <!-- <select id="kategori_id" name="kategori_id" class="form-select" aria-label="Kategori">
                          {% for kat in kategori %}
                        <option value="{{kat.nama}}">{{kat.nama}}</option>                        
                        {% endfor %} 
                      </select> -->
                    </div>
                    <div class="form-group mb-3">
                      <label for="foto" class="form-label">Lampiran Foto</label>
                      <input class="form-control" accept="image/*" type="file" id="foto" name="foto">
                    </div>
                    <div class="form-group mb-3">    
                      <label for="{{ post_aduan.pengadu_id.id_for_label }}" class="form-label">nama pengaju aduan</label>
                      {{ post_aduan.pengadu_id }}
                    </div>     
                    <button type="submit" class="btn btn-primary">Kirim</button>
                  </form>
            </div>
          </div>
</section>

{% endblock content %}