{% extends 'layout/basemas.html' %}
{% block content %}
<section class="team section-padding" id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <h2>Panduan Penggunaan Simpegal</h2>
                    <p>Laporkan Pengaduan <br> Sistem informasi Pengaduan Gangguan Lalu Lintas</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 mx-auto">
                <div class="card text-center">
                    <div class="card-body"> 
                        <img src="../../static/asset/banner.jpg" alt="" class="img-fluid rounded-circle">                       
                        <h4 class="card-title py-2">Ajukan Pengaduan</h4>
                        <p class="card-text">Masyarakat Kota bengkulu mengajukan pengaduan</p>                        
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mx-auto">
                <div class="card text-center">
                    <div class="card-body">  
                        <img src="../../static/asset/banner.jpg" alt="" class="img-fluid rounded-circle">                       
                        <h4 class="card-title py-2">verifikasi</h4>
                        <p class="card-text">Jenis</p>                      
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mx-auto">
                <div class="card text-center">
                    <div class="card-body">  
                        <img src="../../static/asset/banner.jpg" alt="" class="img-fluid rounded-circle">                       
                        <h4 class="card-title py-2">Tidak lanjut</h4>
                        <p class="card-text">Jenis</p>                        
                    </div>
                </div>
            </div>           
        </div>
    </div>
</section>
<section class="team section-padding" id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <h2>Alur Simpegal</h2>
                    <p>Laporkan Pengaduan <br> Sistem informasi Pengaduan Gangguan Lalu Lintas</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12 mx-auto">
            <img src="../../static/asset/Alur pengaduan simpegal.png" class="img-fluid" alt="">
        </div>
                
    </div>
</section>
{% endblock content %}